@media only screen and (max-width: 767px) {

    .navbar-header .navbar {
        padding: 10px 15px;
    }

    .navbar-toggler-icon {
        height: auto;
        color: #fff;
        font-size: 25px;
    }
    .navbar-header .navbar.sticky  .navbar-toggler-icon{
        color: #454080;    
    }
    .navbar-header .navbar-nav li a {
        color: #171f3c;
        font-size: 15px;
        padding: 10px 12px !important;
        font-weight: 500;
        line-height: 30px;
    }
    .navbar-toggler {
        color: #fff;
        font-size: 35px;
        line-height: 38px;
        padding: 5px 0;
        margin-right: 0;
    }
    .navbar-nav {
        background-color: #fff;
        padding-bottom: 15px;
    }
    .navbar-header .connect-block {
        margin-left: 0;
        margin-top: 0;
    }
    .navbar-header .connect-block a {
        display: block;
    }
    .navbar-header .connect-block .btn-white {
        color: #171f3c !important;
        text-align: left;
    }
    .hero-text {
        padding-top: 80px;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .hero-text h2 {
        font-size: 45px;
        margin-bottom: 20px;
        line-height: 50px;
    }
    .title-h2 {
        font-size: 32px;
        line-height: 35px;
    }
    img.img-width {
        width: 100%;
        margin-bottom: 25px;
    }
    .tab_img {
        margin-top: 50px;
    }
    .timeline-p {
        padding-top: 75px;
    }

    .features-text,
    .quote-bloc p ,
    .icon-block,
    .number-block,
    .blog-inner{
        margin-bottom: 30px;
    }
    .item-inner {
        padding: 0 50px;
    }
    .item-inner p {
        font-size: 15px;
        line-height: 24px;
    }


    .navbar-header .navbar.sticky li a{
      color: #3b455a ;  
  }
  .navbar-header .navbar.sticky .navbar-nav,
  .navbar-header .navbar.sticky .btn-white {
    background-color: transparent;
}

.testimonial-slider .slick-arrow.slick-prev {
    left: 35%;
}
.testimonial-slider .slick-arrow.slick-next {
    right: 35%;
}
.content-form .row.form-group input[type="text"]{
  margin-bottom: 20px!important;
}
.content-form {
    padding: 60px 0 0 0;
}
.row.row-mobile,
#about-features .row{
    margin-right: 0;
    margin-left: 0;
}
.hero{
    height: auto;
    padding-bottom: 80px;
}
.padd-text {
    margin-bottom: 30px;
    padding-top: 0;
}
.hero-padd {
    margin-left: 0;
    margin-right: 0;
    padding-top: 100px;
}
.service-block {
    padding-left: 30px;
}

.team-bloc,
.blog-item{
    margin-bottom: 30px!important;
}
.pd-rg-0 ,.pd-lf-0{
    padding-left: 0!important;
    padding-right: 0 !important;
}

.copyright p{
    margin-top: 10px;
    line-height: 20px;   
}
.testimonial-slider .slick-arrow{

    bottom: -12%;
}
.testimonial-slider .slick-list{
    padding: 0!important;
}
.book-form .btn-white{
    margin-top: 15px;
}
.book-form  input[type="text"]{
    margin-bottom: 15px;
}
.nav-tabs .nav-item{
    width: 100%;
}
.course-bloc .slick-arrow.slick-next {
    right: 0;
}
.course-bloc .slick-arrow.slick-prev {
    left: 0;
}
.list{
    margin-bottom: 20px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
   .navbar-header .navbar.sticky  .navbar-toggler-icon{
    color: #454080;    
}
.navbar-toggler-icon {
    font-size: 25px;
}
.nav-tabs .nav-link {
    font-size: 15px;
    padding: 15px 12px;
}
.service-block h3{
  font-size:15px;
  margin-bottom:5px;
}

.newsletter-block-blog .subscribe-form .form-control{
    width: 80%;
}
.item-inner {
    padding: 0 50px;
}

.hero-padd {
    padding-top: 80px;
    padding-bottom: 80px;
}

.service-block {
    padding-left: 20px;
}

.icon-block.color2-block {
   top: 0;
   right: 0;
}

.hero-text{
    padding-top: 80px;
}
.hero-text p{
    font-size: 20px;
    line-height:24px;
}
.hero {
    height: 100%;
    padding-bottom:80px;
}

.navbar-header .navbar.sticky li a,
.navbar-header .navbar.sticky .search-box-btn {
    color: #fff !important;
}
.navbar-header .navbar.sticky .navbar-nav,
.navbar-header .navbar.sticky .btn-white {
    background-color: transparent;
}

.navbar-header .navbar-nav li a {
    font-size: 15px;
    padding: 10px 12px !important;
    line-height: 30px;
}
.hero-text h2 {
    font-size: 45px;
    line-height: 32px;
}
.navbar-toggler {
    color: #fff;
    font-size: 35px;
    line-height: 38px;
    padding: 15px 0;
    margin-right: 15px;
}
.blog-inner h3{
    font-size:18px;
    line-height:24px;
}
.title-h2 {

    font-size: 35px;
    
    line-height: 42px;
}
.navbar-brand {
    padding: 15px;
}
.navbar-header .navbar.sticky .navbar-brand {
    padding: 0 15px;
}
.navbar-header .navbar.sticky .navbar-toggler {
    padding: 15px 0;
}
.navbar-nav {
    padding: 15px;
    background-color: #fff;
}
.navbar-header .navbar-nav li a {
    color: #171f3c;
    font-size: 15px;
    padding: 10px 12px !important;
    font-weight: 500;
    line-height: 30px;
}
#about {
    padding-top: 80px;
}
.form-comment .row.form-group {
    margin-bottom: 0;
}
.form-comment .form-control {
    margin-bottom: 25px;
}
.subscribe-form .form-control {
    width: 80%;
}
.row.row-mobile,
#about-features .row{
    margin-right: 0;
    margin-left: 0;
}
.category-bloc img {
    width: 20px;
    }
    .category-bloc h3{
        font-size: 12px;
        line-height: 16px;
            position: relative;
    top: 3px;
    }
    .category-bloc img{
        margin-right: 5px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {

    .hero{
        height: auto;
        padding-bottom: 80px;
    }
    .hero-text p{
      font-size: 24px;
  }
  .nav-tabs .nav-link {
    font-size: 16px;
    padding: 15px;
}
  .hero-text h2{
    font-size: 50px;
    line-height:38px;
}
.item-inner {
    padding: 0 60px;
}
.subscribe-form .form-control{

    width: 82%;
}
.row.row-mobile,
#about-features .row{
    margin-right: 0;
    margin-left: 0;
}
.category-bloc h3{
    position: relative;
height: 40px;
    line-height: 22px;
}
}

